{% extends "base.html" %}
{% block title %}Записи сообщества {{group}}{% endblock %}
{% block header %}<h1>{{group}}</h1>{% endblock %}
{% load user_filters %}
{% block content %}



{% include "includes/form_comment.html" with form=form %}


<!-- Комментарии -->
{% for item in comments %}
    <div class="media card mb-4">
        <div class="media-body card-body">
            <h5 class="mt-0">
                <a href="{% url 'post:profile' item.author.username %}"
                   name="comment_{{ item.id }}">
                    {{ item.author.username }}
                </a>
            </h5>
            <p>{{ item.text | linebreaksbr }}</p>
        </div>
    </div>
{% endfor %}

{% endblock %}